@{
    ViewData["Title"] = "Find ur Taste";
}
<header class="masthead-1 mb-0">
    <div class="container px-4 px-lg-5 h-25">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-12 align-self-end">
                <h1 class="text-white font-weight-bold">Find ur Taste</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">With the <b>7Taste</b> Spotify playlist URL sharing feature, you can easily create and share recommendation playlists with your friends. Simply enter a Spotify playlist URL and let the music sharing begin!</p>
            </div>
        </div>
    </div>
</header>
<section class="page-section">
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center mb-5">
            <p>@ViewBag.Recoms</p>
        </div>
    </div>

</section>