@model Taslak.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}
<header class="page-section masthead bg-theme-color">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 mt-5">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="text-center text-white">
                    <h2 class="mt-5">Reset your password</h2>
                    <hr class="divider" />
                </div>
            </div>
            <div class="offset-md-3 offset-xl-3 offset-lg-3 col-md-6 col-lg-6 col-xl-6 ">
                <div class="row col-md-4 mt-2 bg-light p-5 rounded w-100" style="--bs-bg-opacity: .3;" >
                    <form method="post" asp-controller="Account" asp-action="ForgotPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-2">
                            <input class="form-control" asp-for="Email" autocomplete="email">
                            <label asp-for="Email" id="Email">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mt-4 d-grid">
                            <input type="submit" class="btn btn-light " style="--bs-bg-opacity: .3;" value="Send an Email">
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

