@model Taslak.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<header class="page-section masthead bg-theme-color">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 mt-5">
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="text-center text-white">
                    <img src="~/image/7tstlogo.png" class="img-fluid" style="width: 200px; margin:0px !important;" alt="Our logo 7Taste">
                    <hr class="divider" />
                </div>
                <div class="text-center text-white">
                    <h3><span id="sayi">4</span> people were here in the last hour.</h3>
                </div>
                <script>
                    var sayi = parseInt(localStorage.getItem('sayi')) || 4;
                    var sayiElement = document.getElementById('sayi');
                    if (sayi > 50) {
                        sayi = sayi %7;
                    }
                    // Sayıyı bir artır
                    sayi += 5;

                    // Sayıyı Local Storage'a kaydet
                    localStorage.setItem('sayi', sayi);

                    // Sayıyı ekrana yaz
                    sayiElement.innerText = sayi;
                </script>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 ">
                <div class="row col-md-4 mt-2 bg-light p-5 rounded w-100" style="--bs-bg-opacity: .3;" >
                    <form method="post" asp-controller="Account" asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-2">
                            <input class="form-control" asp-for="Email" autocomplete="email">
                            <label asp-for="Email" id="Email">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-2">
                            <input class="form-control" asp-for="Password" autocomplete="password">
                            <label asp-for="Password" id="Password">Password</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mt-4 d-grid">
                            <input type="submit" class="btn btn-light " style="--bs-bg-opacity: .3;" value="Login">
                        </div>
                        <div style="display: flex;flex-direction:column;">
                            <a  asp-controller="Account" class="text-dark mt-3" asp-action="Register">Don't have an account yet? Register now</a>
                            <a  asp-controller="Account" class="text-dark mt-3" asp-action="ForgotPassword">Forgot your password?</a>
                        </div>
                        <div style="display: flex;flex-direction:row;background-color:rgba(28,215,96,0.3);padding:6px;margin-top:5px;padding-bottom:12px;">
                            <a role="button" class="btn btn-sm mt-2 p-2" style="flex:50%;max-width:50%;background-color: #1cd760;" asp-controller="Account" asp-action="LoginWithSpotify">Login with Spotify</a>
                            <p style="flex:50%;font-size:8pt;" class="mt-2 m-1 text-dark">You can use your private spotify playlists by logging in with spotify</p>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

